.navbar-container{
    position: absolute;
    right: 20px;
    top: 50px;
    width: 90%;
    height: auto;
    z-index: 1000;

    ul{
        list-style: none;
        text-align: right;

        li{
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            font-size: 22px;
            font-family: 'Staatliches', cursive;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: black;
            font-weight: 500;
            transition: all 0.5s ease;

            &.highlight{
                background-color: rgb(47, 255, 158);
                
            }
            &:hover{
                background-color: rgb(47, 255, 158);
            }

            a{
                text-decoration: none;
                color: black;
            }

            i{
                margin-right: 10px;
                display: inline-block;
            }

            button.logout{
                display: none;
            }

            &:hover{
                button.logout{
                    display: block;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                    top:48px;
                    background-color: rgb(255, 30, 68);
                    border: none;
                    outline: none;
                    padding: 10px 46px;
                    font-size: 22px;
                    font-family: 'Staatliches', cursive;
                    cursor: pointer;
                }
            }
        }

        &.login{
            li{
                &.highlight{
                    background-color: rgb(255, 188, 5);
                }
                &:hover{
                    background-color: rgb(255, 188, 5);
                }
            }
        }

        &.registration{
            li{
                &.highlight{
                    background-color: rgb(5, 205, 255);
                }
                &:hover{
                    background-color: rgb(5, 205, 255);
                }
            }
        }

        &.resetpassword{
            li{
                &.highlight{
                    background-color: rgb(24, 141, 0);
                }
                &:hover{
                    background-color: rgb(24, 141, 0);
                }
            }
        }
    }
}