.section-about{
    width: 100%;
    height: 800px;
    position: relative;
    background-color: rgb(164,187,201);

    .border-image{
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        position: relative;
        transform: translate(-10px,-250px);
        z-index: 100;

        img{
            width: 101%;

        }
    }

    .section-heading{
        font-size: 130px;
        font-weight: 600;
        letter-spacing: 5px;
        font-family: 'Cookie', cursive;
        color: rgb(0, 72, 117);
        position: absolute;
        left: 8%;
        top: 8%;
        // transform: translateX(-50%);
        text-transform: capitalize;
        z-index: 100;

        .inner-cutout{
            padding: 40px 0;
            display: block;
            // background-color:#ff6f69;/*#ff6f69*/
                
            margin: 2%;
            padding-bottom: 40px;
            // height: 300px;
            width: 110%;
            // background: radial-gradient(#ff6f69, #ff8b87);
             background-size: 300%;
            background-position:50% 50%;
        
        }
        .knockout {
            
            vertical-align: middle;
            text-align: center;
            font-family: 'Cookie', cursive;
            font-size:140px;
            letter-spacing: 5px;
            color: blue;
            color: #fff;
            background: linear-gradient(110deg, rgb(0, 72, 117) 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, rgba(0, 72, 117, 0.507) 38%, rgb(0, 72, 117) 34%);
            background-size: 400%;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            transform: translateY(-50px);
            text-transform: capitalize;
        }
        .knockout{
                animation: Gradient 5s ease infinite;
                -webkit-animation: Gradient 15s ease infinite;
                -moz-animation: Gradient 5s ease infinite;
        }
    }

    .timer-board{
        position: absolute;
        right: 0;
        top: -10px;
        width: 40%;
        overflow: hidden;
        

        img{
            width: 100%;
        }
    }

    .section-content{
        width: 40%;
        height: auto;
        position: absolute;
        top: 250px;
        left: 10%;
        text-align: left;
        color: rgb(34, 34, 34);

        p{
            font-size: 20px;
            font-family: 'Nunito', sans-serif;
        }
    }
}