.page-accomodation{
    width: 100%;
    height: 1200px;
    position: relative;
    background-color: rgb(0, 255, 136);

    img.blob-image{
        width: 80%;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-55%);

        @media only screen and (max-width: 600px){
            width: 300%;
            top: 4%;
            transform: translateX(-55%);
        }

        @media only screen and (max-width: 380px){
            width: 350%;
        }

    }

    .page-heading{
        font-size: 90px;
        // font-weight: 600;
        font-family: 'Pacifico', cursive;
        letter-spacing: 1px;
        color: white;
        position: absolute;
        left: 50%;
        top: 12%;
        transform: translateX(-50%);

        @media only screen and (max-width: 600px){
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            font-size: 12vw;
            padding-top: 120px;
            display: block;
            text-align: center;
        }
    }

    .page-content{
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translateX(-50%);

        @media only screen and (max-width: 600px){
            position: relative;
            top: 0;
            left: 0;
            width: 90%;
            margin: 0 auto;
            transform: none;
            margin-top: 70px;
            margin-bottom: 120px;
            // height: max-content;
        }

        .page-navbar{
            text-align: center;
            padding-bottom: 70px;

            
            

            &--option{
                display: inline-block;
                margin: 5px 40px;
                color: white;
                font-family: 'Staatliches', cursive;
                font-size: 24px;
                cursor: pointer;
                transition: all 0.3s ease;

                @media only screen and (max-width: 600px){
                    display: block;
                    margin-bottom: 10px;
                    outline: none;

                    &:active{
                        background: none;
                    }
                }

                &.active{
                    text-decoration: underline;
                    transform: scale(1.1);
                }
            }
        }

        &--container{
            width: 70%;
            margin: 0 auto;

            @media only screen and (max-width: 600px){
                width: 85%;
            }

            &-content{
                padding-left: 20px;
                font-size: 14px;
                font-family: 'Staatliches', cursive;
                color: white;
                letter-spacing: 0.5px;
                word-spacing: 1px;

                @media only screen and (max-width: 600px){
                    font-size: 3vw;
                }
                ul{
                    li{
                        padding-bottom: 20px;

                        span{
                            display: block;
                            font-size: 10px;
                            padding-left: 30px;

                            @media only screen and (max-width: 600px){
                                font-size: 2vw;
                            }
                        }

                        ul{
                            padding-left: 40px;
                            padding-top: 5px;
                            li{
                                
                                padding-bottom: 10px;
                            }
                        }
                    }
                }

                span.payment{
                    font-size: 20px;
                    display: block;

                    @media only screen and (max-width: 600px){
                        margin-top: 40px;
                        font-size: 5vw;
                    }
                }

                span.note{
                    display: block;
                    font-size: 2vw;
                }

                .button{
                    width: 250px;
                    position: relative;
                    padding: 1em 1.5em;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    outline: none;
                    font-size: 20px;
                    font-weight: 600;
                    margin: 30px auto;
                    margin-left: 50px;
                    transition: all 0.5s ease;
                    border: 1px solid rgba(255, 255, 255, 0.322);

                    @media only screen and (max-width: 600px){
                        width: 60%;
                        font-size: 4vw;
                    }

                    
                    
                    &.type1{
                        color: white;
                        // Effect one
                        &.type1::after,
                        &.type1::before{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 30%;
                        height: 20%;
                        border: 2px solid;
                        transition: all 0.6s ease;
                        border-radius: 5px;
                        }

                        &.type1::after{
                        bottom: -1px;
                        right: -1px;
                        border-top-color: transparent;
                        border-left-color: transparent;
                        border-bottom-color: white;
                        border-right-color: white;
                        }

                        &.type1::before{
                        top: -1px;
                        left: -1px;
                        border-bottom-color: transparent;
                        border-right-color: transparent;
                        border-top-color: white;
                        border-left-color: white;
                        }
                        &.type1:hover:after,
                        &.type1:hover:before{
                        width: 100%;
                        height: 100%;
                        }
                    }
                }

                .popup{
                    position: absolute;
                    z-index: 110;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    @media only screen and (max-width: 600px){
                        width: 90%;
                    }

                    &::-webkit-scrollbar {
                        width: 1px;
                      }

                      &::-webkit-scrollbar:hover {
                        width: 4px;
                      }
                    
                      
                      /* Track */
                    &::-webkit-scrollbar-track {
                        background: #426792; 
                      }
                       
                      /* Handle */
                      &::-webkit-scrollbar-thumb {
                        background: #0c0038; 
                      }
                      
                      /* Handle on hover */
                      &::-webkit-scrollbar-thumb:hover {
                        background: #555; 
                        width: 10px;
                    }

                    iframe{
                        width: 150%;
                        height: 500px;
                        border: rgb(0, 255, 136) solid 2px;

                        @media only screen and (max-width: 600px){
                            width: 100%;
                        }

                        
                    }

                    button{
                        position: absolute;
                        bottom: 5%;
                        left: 66%;
                        transform: translateX(-40%);
                        width: 194px;
                        height: 40px;
                        background-color: rgb(210,73,104);
                        color: white;
                        border: none;
                        outline: none;
                        font-family: 'Nunito', sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                        border-radius: 3px;
                        cursor: pointer;

                        @media only screen and (max-width: 600px){
                            left: 50%;
                            transform: translateX(-50%);
                            width: 60%;
                            font-size: 4.5vw;
                        }
                    }
                }
            }

        }

    }
}