.section-footer{
    height: 480px;
    width: 100%;
    background-color: rgb(162,217,253);
    position: relative;
    z-index: 140;
    
    @media only screen and (max-width: 600px){
        height: fit-content;
    }

    img.border{
        width: 100%;
        // transform: translateY(-290px);
        position: relative;
        z-index: 150;
        height: auto;
        margin-top: -30%;
    }

    .logo-image{
        width: 15%;
        height: auto;
        position: absolute;
        top: 70px;
        left: 9%;
        z-index: 100;

        img{
            width: 100%;
        }

        @media only screen and (max-width: 600px){
            position: relative;
            top: 0;
            left: 0;
            margin: 0 auto;
            width: 50%;
            display: block;
            margin-bottom: 40px;
        }
    }

    .map{
        position: absolute;
        right: 10%;
        top: 50px;
    }

    .dev-credits{
        width: 100%;
        font-size: 20px;
        font-family: 'Staatliches', cursive;
        letter-spacing: 2px;
        word-spacing: 3px;
        text-align: center;
        color: rgb(37, 37, 37);
        position: absolute;
        bottom: 40px;
        left: 0;
        // transform: translateX(-50%);

        @media only screen and (max-width: 600px){
            position: relative;
            bottom: 0;
            margin-bottom: 30px;
            font-size: 12px;
        }

        img{
            width: 20px;
            display: inline-block;
            transform: translateY(4px);

            @media only screen and (max-width: 600px){
                width: 15px;
            }
        }
    }

    .social-media-icons{
        position: absolute;
        left: 6%;
        top: 60%;
        transition: all 0.3s ease;

        .fa {
            padding: 10px;
            font-size: 30px;
            width: 30px;
            height: 30px;
            text-align: center;
            text-decoration: none;
            color: rgb(37, 37, 37);
            margin-right: 10px;
            transition: all 0.3s ease;

            &:hover{
                background: rgb(37, 37, 37);
                color: white;
                border-radius: 50%;
            }
          }
    }

    .contacts-container{
        position: absolute;
        top: 50px;
        left: 40%;
        font-family: 'Nunito', sans-serif;
        text-transform: uppercase;

        @media only screen and (max-width: 600px){
            position: relative;
            top: 0;
            left: 0;
            width: 80%;
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 40px;
        }

        &--heading{
            font-size: 40px;
            color: rgb(37, 37, 37);
            font-weight: 600;
            display: block;
            box-sizing: border-box;
            margin-bottom: 15px;
            letter-spacing: 1px;

            @media only screen and (max-width: 600px){
                font-size: 30px;
            }

            .subheading{
                display: block;
                margin-bottom: 20px;
                font-size: 12px;
                margin-left: 5px;
                letter-spacing: 0;
            }

        }

        span.contacts{
            display: block;
            margin-bottom: 7px;
            font-size: 20px;
            margin-left: 5px;
            font-weight: 600;

            @media only screen and (max-width: 600px){
                font-size: 16px;
            }

            a{
                color: rgb(95, 95, 95);
                text-decoration: none;
                font-weight: 500;
            }
        }
    }

    .help-container{
        position: absolute;
        width: 25%;
        top: 50px;
        right: 0%;
        font-family: 'Nunito', sans-serif;
        text-transform: uppercase;

        @media only screen and (max-width: 600px){
            position: relative;
            top: 0;
            right: 0;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 20px;
        }

        &--heading{
            display: block;
            font-size: 24px;
            font-weight: 600;
            color: rgb(37, 37, 37);
            margin-bottom: 10px;
            box-sizing: border-box;

            @media only screen and (max-width: 600px){
                font-size: 22px;
            }
        }

        &--content{
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            color: rgb(37, 37, 37);
            margin-bottom: 20px;
            box-sizing: border-box;
            padding-right: 30px;

            a{
                text-decoration: none;
                color: rgb(37, 37, 37);
                
                @media only screen and (max-width: 600px){
                    
                    &.fa{
                        font-size: 28px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}