.page-wrapper.login{
    height: 670px;
    background: rgb(255, 115, 0);
    position: relative;

    .form-wrapper{
        width: 80%;
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img{
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .form-container{
            width: 40%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            .form-title{
                font-size: 80px;
                font-family: 'Pacifico', cursive;
                margin-bottom: 50px;
                color: rgb(255, 188, 5);
                letter-spacing: 2px;;
            }

            form{
                margin-top: 40px;
            }

            .input-field{
                width: 90%;
                height: 60px;
                text-align: left;
                margin: 0 auto;
                display: block;
                position: relative;
                transition: all 0.2s ease;
                margin-top: 1rem;
    
                .password-show{
                    position: absolute;
                    right: 1.3rem;
                    top: 1rem;
                    width: 2.5rem;
                    cursor: pointer;
                    z-index: 1000;
    
                    img{
                        width: 3rem;
                        position: relative;
                    }
    
                }
    
    
                &--label{
                    color: black;
                    position: absolute;
                    left: 1rem;
                    top: 0.7rem;
                    font-size: 1.2rem;
                    font-family: 'Nunito', sans-serif;
                    font-weight: 500;
                    transition: all 0.2s ease;
                    z-index: 10;
    
                    &.touched{
                        transform: translate( -1.1rem , -0.8rem) scale(0.7);
                        color: rgb(238, 157, 5);
                    }
    
                }
    
                &--value,
                input{
                    width: 100%;
                    height: 3rem;
                    border: 1px solid black;
                    border-radius: 0.3rem;
                    outline: none;
                    padding-left: 1rem;
                    padding-top: 1rem;
                    color: black;
                    font-size: 1rem;
                    z-index: 100;
                    position: relative;
                    background: transparent;
                    font-family: 'Nunito', sans-serif;
                    box-sizing: border-box;
    
                    &.touched{
                        border: 0.1rem solid rgb(238, 157, 5);
                    }
    
                    &.error{
                        border-color: rgb(255, 0, 0);
                    }
            
                    &-error{
                        position: absolute;
                        right: 0;
                        color: rgb(255, 0, 0);
                        font-size: 0.8rem;
                        display: block;
                        font-family: 'Nunito', sans-serif;
                    }
                }
    
                
            }

            .button{
                width: 200px;
                position: relative;
                padding: 1em 1.5em;
                border: none;
                background-color: transparent;
                cursor: pointer;
                outline: none;
                font-size: 20px;
                font-weight: 600;
                margin: 1em 0.8em;
                transition: all 0.5s ease;

                &:hover{
                    letter-spacing: 2px;
                }
                
                &.type1{
                    color: rgb(238, 157, 5);
                    // Effect one
                    &.type1::after,
                    &.type1::before{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 30%;
                    height: 20%;
                    border: 2px solid;
                    transition: all 0.6s ease;
                    border-radius: 5px;
                    }

                    &.type1::after{
                    bottom: 0;
                    right: 0;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-bottom-color: rgb(238, 157, 5);
                    border-right-color: rgb(238, 157, 5);
                    }

                    &.type1::before{
                    top: 0;
                    left: 0;
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                    border-top-color: rgb(238, 157, 5);
                    border-left-color: rgb(238, 157, 5);
                    }
                    &.type1:hover:after,
                    &.type1:hover:before{
                    width: 100%;
                    height: 100%;
                    }
                }
            }

            .button2{

                width: 200px;
                position: relative;
                padding: 0.3em 1.5em;
                border: none;
                background-color: transparent;
                cursor: pointer;
                outline: none;
                font-size: 12px;
                font-weight: 600;
                margin: 1em 0.8em;
                transition: all 0.5s ease;

                &.type2{
                    color: rgb(238, 157, 5);
                    // Effect 2
                    // Inspiration https://tympanus.net/Development/CreativeLinkEffects/
                    &.type2:after,
                    &.type2:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 100%;
                    left: 10%;
                    width: 80%;
                    height: 2px;
                    background-color: rgb(238, 157, 5);
                    transition: all 0.3s ease;
                    transform: scale(0.85);
                    }

                    &.type2:hover:before{
                    top: 0;
                    transform: scale(1);
                    }
                    &.type2:hover:after{
                    transform: scale(1);
                    }
                }
            }
        }
    }
}