$colors: rgb(58, 58, 58), rgb(58, 58, 58), rgb(58, 58, 58), rgb(58, 58, 58), rgb(58, 58, 58);
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: $time/$max;
